* {
  margin: 0;
  padding: 0;
  --red: #8B0000;
  --lightred: #dcb2b2;
  --darkblue: #324158;
  --lightblue: #b6c4ce;
  --grey: #605E5E;
  --blue: rgb(12, 59, 93);
  --font1: 'neuzeit-grotesk-extra-conden', sans-serif;
  --font2: 'Nunito', sans-serif;


}
body {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  max-width: 2208px;
  min-width: 320px;
  display: grid;
  grid-template-rows: 1fr 7fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}

header {
  background-color: var(--red);
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
}
.slider {
  margin: 200px;
  width: 800px;
  height: 800px;
  overflow: hidden;
  position: relative;
  grid-row: 2 / 3;
}
.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translate(-100%, 0%);
  transition: all ease-in-out 500ms;
}

.active {
  transform: translate(0,0);
}

.active ~ .slide {
  transform: translate(100%,0);
}

/********* SVG STYLING **********/
svg .cls-1 {fill:#fefefe;}
svg .cls-2 {fill: var(--blue);}
svg .cls-3 {fill: var(--lightblue);}
svg .cls-4 {
  font-size:96.49px;
  font-family: var(--font1);

  }
svg .cls-5 {letter-spacing:-0.01em;}
svg .cls-6 {letter-spacing:0em;}
svg .cls-7 {
  font-size:59.14px;
  font-family: var(--font2);
}
svg .cls-8 {letter-spacing:0.02em;}
svg .cls-9 {letter-spacing:0em;}
svg .cls-10 {letter-spacing:-0.01em;}
svg .cls-11 {letter-spacing:0em;}
svg .cls-12 {letter-spacing:0em;}

/*** SLIDE STYLING ***/
.s1 {
background: red;
}
.s2 {
background-color: green;
}
.s3 {
background-color: blue;
}


.votebutton {
  font-size: 3em;
  background-color: gray;
  padding: 10px 30px;
  border: 0 none;
  border-radius: 10px;
}




footer {
  background-color: var(--red);
  height: 100%;
  width: 100%;
  grid-row: 4 / 5;
}
}
