* {
  margin: 0;
  padding: 0;
  --red: #8B0000;
  --lightred: #dcb2b2;
  --darkblue: #324158;
  --lightblue: #b6c4ce;
--lighterblue:rgba(12, 59, 93, .15);
  --grey: #605E5E;
--lightgrey:#dfdede;
  --blue: rgb(12, 59, 93);
  --font1: 'neuzeit-grotesk-extra-conden', sans-serif;
  --font2: 'Nunito', sans-serif;


}

html{
height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
  max-width: 2208px;
  min-width: 320px;
  display: grid;
  grid-template-rows: 1.5fr 6fr 2fr 1.2fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
"header header header"
"backarrow main frontarrow"
". button ."
"footer footer footer";
  align-items: center;
  justify-items: center;
}

header {
  background-color: var(--lighterblue);
  grid-area: header;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

header img {
width: 500px;
height: auto;

}

.slider {
  margin: 100px;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  position: relative;
  grid-area: main;
}
.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translate(-100%, 0%);
  transition: all ease-in-out 500ms;
}

.active {
  transform: translate(0,0);
}

.active ~ .slide {
  transform: translate(100%,0);
}




/********* SVG STYLING **********/
svg .cls-1 {fill:#fefefe;}
svg .cls-2 {fill: var(--blue); transition: 500ms}
svg .cls-3 {fill: var(--lightblue);}
svg .cls-4 {
  font-size:96.49px;
  font-family: var(--font1);
text-transform: uppercase;

  }
svg .cls-5 {letter-spacing:-0.01em;}
svg .cls-6 {letter-spacing:0em;}
svg .cls-7 {
  font-size:50px;
  font-family: var(--font2);
}
svg .cls-8 {letter-spacing:0.02em;}
svg .cls-9 {letter-spacing:0em;}
svg .cls-10 {letter-spacing:-0.01em;}
svg .cls-11 {letter-spacing:0em;}
svg .cls-12 {letter-spacing:0em;}

/*** STYLING FOR SELECTED ***/

.selected svg .cls-2 {
 fill: var(--lightgrey)
}

.selected svg .cls-7, .selected svg .cls-4 {
  fill: var(--grey) !important;
}
/*** SLIDE STYLING ***/
.vote {
grid-area: button;
display: flex;
flex-direction: column;
align-self: start;
}
.vote p {
  display: none;
  font-family: var(--font2);
  font-size: 2.2em;
  padding: 10px;
  text-align: center;

}

.votebutton {
  font-size: 3em;
  font-family: var(--font2);
  background-color: white;
  color: var(--blue);
  padding: 30px 60px;
  border: 5px solid var(--blue);
  border-radius: 10px;
}

.votebuttonselect {
  font-size: 3em;
  font-family: var(--font2);
  background-color: var(--blue);
  color: white;
  padding: 30px 60px;
  border: 5px solid var(--blue);
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}



footer {
  background-color: var(--lighterblue);
  height: 100%;
  width: 100%;
  grid-area: footer;
}

.thank {
display: none;
position:fixed;
width: 100%;
height: 100%;
background-color: var(--blue);
z-index: 999;
}

.thank p {
color: white;
font-size:5em;
font-family: var(--font2);

}
